MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/banco

FRONTEND_URL_LOCAL=http://localhost:5173

FRONTEND_URL=https://seu_site_aqui.com.br/

FRONTEND_ADMIN_URL=https://admin.oseusite.com.br

TOKEN_SECRETO=seu_token_secreto_aqui